body {
    font-family: Arial, sans-serif;
    background: #c7eafd;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: white;
    padding: 25px;
    width: 300px;
    text-align: center;
    border-radius: 10px;
}

button {
    padding: 10px 20px;
    background: #0077b6;
    color: white;
    border: none;
    cursor: pointer;
    margin-bottom: 15px;
}

.result-box {
    font-size: 18px;
}
